<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.uni_app.mapper.ProductCommentMapper">

    <update id="updateProductCommentLikeCount">
        <foreach collection="map" item="val" index="key" separator=";">
            UPDATE product_comment
            SET like_count = like_count + #{val}
            WHERE id = #{key}
        </foreach>
    </update>
</mapper>